/* Globale Einstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f7f6;
    color: #333;
}

/* Navbar Design */
.navbar {
    background: #2c3e50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section (Das Obere Drittel) */
.hero {
    background: linear-gradient(rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)), url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.highlight {
    color: #3498db;
}

.tags span {
    background: #3498db;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin: 0 5px;
}

/* Projekte */
.projects {
    padding: 50px 5%;
    text-align: center;
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.btn-git {
    display: inline-block;
    margin-top: 15px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #3498db;
    padding: 5px 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #2c3e50;
    color: white;
    margin-top: 40px;
}